<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubra seu endereço com base no seu Cep</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/img/mapa.jpg">
</head>
<body>
    <div class="container">
        <h1>Receba seu endereço com base no seu Cep</h1>
        <form id="cep-form" class="mb-4">
            <div class="mb-3">
                <label for="cep" class="form-label">Digite seu Cep</label>
                <input id="cep" type="text" class="form-control" placeholder="Digite o número do seu Cep">
            </div>
            <button type="submit" class="btn btn-success">Adicionar</button>
        </form>

        <div id="resultado" class="resultado"></div>
    </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
